@font-face {
    font-family: 'GimpoGothicBold00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicBold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
 @media all and (min-width: 1024px) {
    .inner{
        max-width: 1024px;
        margin: 0 auto;
    }
} 
header{
    background-color: bisque;
    width: 1024px;
    height: 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
}
button, input {
    border: 0;
    outline: 0;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
}
h1{
    background-color: blue;
}
input{
    width: 240px;
    height: 50px;
    background-color: red;
    margin: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first_row{
    justify-content: space-around;
}