@font-face {
    font-family: 'GimpoGothicBold00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicBold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
body {
    margin: 0;
    }
nav{
    width: 100vw;
    height: 50px;
    background-color: bisque;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}
#logo{
    font-family: 'GimpoGothicBold00';
    font-weight: bold;
}
button{
    font-family: 'GimpoGothicBold00';
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: bisque;
}
/* @media (max-width: 1024px) {
    .container{
        padding: 1rem 0;
    }
} */
/* 내가 한 거는 딱 nav만 해당되어서 나중에 다른 내용이 추가되면 다시 수정해야하는 어려움이 있음 */